$colors: (
  primary: #5f0080,
  danger: #ff4d4f,
  ghost: transparent,
);

$text-colors: (
  primary: #fff,
  danger: #fff,
  ghost: #5f0080,
);

$font-sizes: (
  sm: 0.875rem,
  md: 1rem,
  lg: 1.125rem,
);
